//font family imports:
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Rye&display=swap');

// //font-family rules:
// font-family: 'Raleway', sans-serif (weights: 400, 500)
// font-family: 'Rye', cursive; 

// //COLORS!!!!
$davysGray: #575A60;
$coolGray: #183642;
$richBlack: #15181D;
$burntUmber: #9D4827;
$cedarChest: #CE5F55;
$sand: #E3A767;
$deepOrange: #ED9D48;
$brickWhite: #EBE0D6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App, html {
    background-color: $richBlack;
    color: white;
    background-image: url('../images/adam-wilson-6UIonphZA5o-unsplash.jpg');
    opacity: .95;
    background-repeat: no-repeat;
    background-position: center;
}



nav {
    background-color: white;
    height: 100px;
    min-width: 360px;
    max-width: 3000px;

    a {
        color: black;
        font-family: 'Raleway', sans-serif;
    }

    a:hover {
        color: $burntUmber;
        text-decoration: none;
    }

    ul.about {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        height: 100px;
        padding: 0;
    }

    .link {
    text-transform: uppercase;
    }

    li {
    font-family: 'Rye', cursive;
    list-style: none;
    }
}


div.subheader {
    background-color: $sand;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    min-width: 360px;
    max-width: 3000px;

    p {
        font-size: .7em;
        color: black;
        font-family: 'Raleway', sans-serif;
    }

}

.siteName h1 {
    font-size: 80px;
    padding: 100px 0px 80px 0px;
}

// $divBorder: 1px solid black;


// ///mixins make it so you can modularly reuse code
// //avoids non semantic classes
// @mixin div($divBorder) {
//     padding: 20px;
//     margin: 20px;
//     background-color: $pink;
//     border: $divBorder;
// }

//
// // sass practice connected to config file
// @import './practice_config';

// main {
//   div {
//     @include div($divBorder);
//   }
// }


// // //can also nest styles
// // // example:
// // nav {
// //     ul {

// //     }

// //     li {

// //     }
// // }



// /*THIS IS HOW TO SPIN THINGS!!!*/
// /* @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// } */
