//font family imports:
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Rye&display=swap');

// //font-family rules:
// font-family: 'Raleway', sans-serif (weights: 400, 500)
// font-family: 'Rye', cursive; 

// //COLORS!!!!
$davysGray: #575A60;
$coolGray: #183642;
$richBlack: #15181D;
$burntUmber: #9D4827;
$cedarChest: #CE5F55;
$sand: #E3A767;
$deepOrange: #ED9D48;
$brickWhite: #EBE0D6;

.App, html {
    background-color: $richBlack;
    color: $brickWhite;
}

nav a {
    color: white;
}

ul {
    background-color: $sand;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Rye', cursive;
}

img {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    width: 80px;
}
// $divBorder: 1px solid black;


// ///mixins make it so you can modularly reuse code
// //avoids non semantic classes
// @mixin div($divBorder) {
//     padding: 20px;
//     margin: 20px;
//     background-color: $pink;
//     border: $divBorder;
// }

//
// // sass practice connected to config file
// @import './practice_config';

// main {
//   div {
//     @include div($divBorder);
//   }
// }


// // //can also nest styles
// // // example:
// // nav {
// //     ul {

// //     }

// //     li {

// //     }
// // }



// /*THIS IS HOW TO SPIN THINGS!!!*/
// /* @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// } */
