@import './config';

p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 5px 50px;
    width: 80%;
    margin: 0 auto;
}

h1, h4 {
    font-family: 'Rye', cursive;
    text-align: center;
    text-shadow: 2px 4px $richBlack;
}

img.carousel {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin: 40px;
    border: 5px solid white;
}

.carousel {
    height: 500px;
}

.description {
    background-color: $richBlack;
    padding: 15px;
    display: inline-block;
}

.logo {
    display: none;
}