@import './config';

.hero-div {
    width: 350px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.cocktail-card {
    margin: 0 auto;
}

.drink-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    transition: .5s ease-in-out;
    border-radius: 2px;
}

.card-container:hover {
    transform: scale(1.05);
}