@import './config';

div {
    background-color: $richBlack;

}

h5 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h4 {
    font-size: .75em;
    padding-bottom: 10px;
}

li {
    list-style: none;
    line-height: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

a p {
    color: $brickWhite;
}

ul.random {
    display: block;
    padding: 10px;
    background-color: $coolGray;
    opacity: .9;
}

.title {
    background-color: $richBlack;
    opacity: .8;
    padding: 10px;
}