@import './config';

h3, h5 {
    font-family: 'Rye', cursive;
    text-align: center;
}

img.card {
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

.cocktail-card {
    background-color: $richBlack;
    opacity: .9;
    padding: 10px;
}