@import './config';

div {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

form  {
    margin: 10px;
}

input.submit {
    margin: 10px;
    padding: 5px;
    border: 3px solid $burntUmber;
    font-size: 15px;
}