@import './config';

div {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

form  {
    margin: 10px;
}

input {
    padding: 10px;
    width: 200px;
    border: white;
}

.submit {
        margin: 30px;
        padding: 5px;
        font-size: 15px;
        background-color: $richBlack;
        color: white;
        border: 2px solid white;
    }