// sass practice


//color variable assignments
$vermillion: #DC493A;
$eucalyptus: #49DCB1;
$darkBlue: #1B1B3A;
$pink: #EF767A;
$lapis: #2660A4;

h1 {
    color: $darkBlue
}

h2 {
    color: $vermillion
}

h3 {
    color: $eucalyptus
}

h4 {
    color: $lapis
}

// //can also nest styles
// // example:
// nav {
//     ul {

//     }

//     li {

//     }
// }



/*THIS IS HOW TO SPIN THINGS!!!*/
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
